<div class="responsive-table">
    <table class="table my-3">
        <% listaDeContatos.forEach((item) => {%>
        <tr>
            <td><%= item.nome %></td>
            <td><%= item.sobrenome %></td>
            <td><%= item.telefone %></td>
            <td><%= item.email %></td>
            <% if(user) { %>
            <td><a href="/userpage-editForm?id=<%= item._id %>" name="id" value="<%= item._id %>">Editar</a></td>
            <td><a href="/userpage-delete?id=<%= item._id %>" class="text-danger">Excluir</a></td>
            <% } %>    
        </tr>
        <%})%>
    </table>
</div>